@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arsenal&family=Barlow+Condensed&family=Courgette&family=Kalam&family=Open+Sans:wght@300&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,100&family=Satisfy&display=swap');



body{
  overflow-x: hidden;
  width: 100vw;
  background-color: #3d2819;
}


.home {
  height: 100vh;
  background-color: #121212;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/banner1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x:auto;

  .home-nav {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: transparent;
    color: white;
    border-bottom: 0.5px solid rgba(224, 224, 224, 0.469);
    padding: 0 4rem;

    .left {
      width: calc(100% / 4);
      display: flex;
      justify-content: center;

      img {
        object-fit: contain;
        height: 2.4vh;
      }
    }

    .middle {
      display: flex;
      justify-content: center;
      gap: 5rem;
      width: calc(100% / 4);
      font-weight: 500;
      font-family: 'Archivo Black', sans-serif;    

      span{
        cursor: pointer;
        font-weight: 700;
      }

      .middle-about{
        span{
          z-index: 999;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: contain;
          height: 4vh;
          display: none;
          transition: all 0.3s ease-in-out;
        }

     
        &:hover{
          img{
            display: block;
            z-index: 1;
          }

          span{
            color: black;
            z-index: 2;
          }
        }
      }

      .middle-contact{
        span{
          z-index: 999;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: contain;
          height: 4vh;
          display: none;
          transition: all 0.3s ease-in-out;
        }

     
        &:hover{
          img{
            display: block;
            z-index: 1;
          }

          span{
            color: black;
            z-index: 2;
          }
        }
      }

     
      .middle-home{
        padding: 1rem;
        position: relative;

        span{
          z-index: 999;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: contain;
          height: 4vh;
          display: none;
        }

     
        &:hover{
          img{
            display: block;
            z-index: 1;
          }

          span{
            color: black;
            z-index: 2;
          }
        }

        
      }

      .middle-about{
        padding: 1rem;
        position: relative;
      }

      .middle-contact{
        padding: 1rem;
        position: relative;
      }

      



      
    }

    

    .right {
      width: calc(100% / 4);
      display: flex;
      gap: 1rem;
      justify-content: center;

      a {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background: transparent;
        border-radius: 50%;
        font-size: 30px;
        color: #666;
        border: 1px solid white;
        color: inherit;

      }

      .fb:hover {
        background: #4267B2;
      }

      .ig:hover {

        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);      
      }

      .google:hover{
        background: #ea4435b4
      }

        
      .icon {
        font-size: 1.4rem;
        color: white;

        &.ig:hover{
          background: transparent;
        }

        &.fb:hover{
          background: transparent;
        }

        &.google:hover{
          background: transparent;
        }

        
      }
    }
  }

  .home-info {
    display: flex;
    margin-top: 8rem;
    color: white;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;

    img {
      object-fit: contain;
      height: 15vh;
    }

    .welcome-message {
      font-size: 3.3rem;
      font-family: 'Pacifico', cursive;
    }

    .welcome-description {
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      font-family: 'Barlow Condensed', sans-serif;
    }

    .info-button{
      display: none;
    }

   

    .icon {
      margin-bottom: 3rem;
      font-size: 1.8rem;
      animation: arrowAnimation 1s alternate infinite;
    }
  }

  .address{
      color: rgba(255, 255, 255, 0.808);
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      text-align: right;
      
    }
}


.info{
  height: 80vh;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 8rem;

    
    img{
      object-fit: contain;
      max-height: 50vh;
      border-radius: 2rem;
    }

    .info-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 3rem;
      color: white;

      h1{
        font-family: 'Permanent Marker', cursive; 

      }

      p{
        font-size: 1rem;
      }

      .open{
        color: rgb(102, 194, 102);
      }
      
      .closed{
        color: rgb(225, 79, 79);
      }
      
     
      
      .button-74 {
        background-color: #8a633a;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #42270a 4px 4px 0 0;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        padding: 0 18px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 200px;
      }
      
      .button-74:hover {
        color: black;
      }
      
      .button-74:active {
        transform: translate(2px, 2px);
      }
      
      @media (min-width: 768px) {
        .button-74 {
          min-width: 120px;
          padding: 0 25px;
        }
      }


      
    }
  }



 

}

.menu{
  height: 80vh;
  background-color: #121212;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;



  .menu-container{
    max-width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8rem;


    .h1-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      .bean-icon{
        font-size: 2.1rem;
        color: white;
      }

    }

    .main-h1{
      font-family: 'Satisfy', cursive;
      font-size: 3rem;
    }

    h1{
      text-align: center;
    }

    .menu-items{
      height: 80%;
      display: flex;
      gap: 14rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 2rem;

      p{
        font-family: 'Barlow Condensed', sans-serif;
        color: rgba(255, 255, 255, 0.775);
        font-weight: bold;

      }

      background: rgba(0, 0, 0, 0.4);
      border: 1px solid white;
      border-radius: 1rem;
      padding: 3rem;



      .coffee{
        p{
          padding: 0.3rem 0;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          gap: 10px;

          .icon{
            font-size: 0.8rem;
            fill-opacity: 0.8;
          }
        }

        h1{
          margin-bottom: 10px;
          font-size: 2.6rem;
          display: flex;
          gap: 1rem;
          align-items: center;
          font-family: 'Courgette', cursive;
          text-decoration: underline;
        }
        
      }
      .alternatives{
        padding: 10px;
       

        p{
          padding: 0.3rem 0;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          gap: 10px;

          .icon{
            font-size: 1rem;
            fill-opacity: 0.8;
          }
        }

        h1{
          margin-bottom: 10px;
          font-size: 2.6rem;
          display: flex;
          gap: 1rem;
          align-items: center;
          font-family: 'Courgette', cursive;
          text-decoration: underline;
        }

      }
    }
  }
  

}

.coffeeAnimation{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .loader{
    margin-top: 30rem;
    font-size: 1.6rem;
  }
}


.gallery{
  min-height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;



  .photo-div{
    max-height: 80%;
    max-width: 90%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    margin: 0 auto;
  
    

    img {

      border: 0.5px solid rgba(255, 255, 255, 0.255);
      border-radius:1rem;
      max-width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      background-position: center;
      transition: transform 0.3s ease-in-out; 

      &:hover{
        transform: scale(1.02);
      }
      
    }
  }



  
}
.footer{
  display: flex;
  background-color:#1a1a1a;
  text-align: center; 
  justify-content: center;
  color: white;
  font-size: 1rem;
  align-items: center;
  height: 100px;
  gap: 1rem;

  a{
    color: inherit;
  }

  .icon{
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;

    &:hover{
      transform: scale(1.2);
    }
  }
}

.container {
  width: 300px;
  height: 280px;
  position: absolute;
  top: calc(50% - 140px);
  left: calc(50% - 150px);
}
.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282828;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: white;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #222222;;
}
.coffee-header__button-one {
  background-color: #8dd557;
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
  background-color: #f55d5d;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: black;
  border: 5px solid rgba(255, 255, 255, 0.764);
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #222222;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #696969;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #e1dcd2;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #e1dcd2
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #7e5c3c;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #FFF;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #FFF;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;  
    opacity: 1;
  }
  5% {
    height: 0px;  
    opacity: 1;
  }
  20% {
    height: 62px;  
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 0.2s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;  
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #282828;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: #000;
}


@keyframes animate {
  0% {
      transform: translateY(0) scaleX(1);
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  50% {
      transform: translateY(-150px) scaleX(5);
  }
  95% {
      opacity: 0;
  }
  100% {
      transform: translateY(-300px) scaleX(10);
  }
}



@keyframes arrowAnimation {
  from {
    transform: translateY(-10px);
  }
}

@media (max-width: 1400px) {

  .gallery{

    .photo-div {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5px; /* Optional: Adjust the vertical gap value as needed */

      img{
        max-width: 100%;
      }
    }
  }

  .info{

    .info-container{
      flex-direction: column;
      max-width: 100%;
    }
  
    img{
      max-width: 60%;
      object-fit: cover;
    }
  }

 

  .menu {
    all: initial;
    height: 100%;
    background-color: #121212;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    .bean-icon{
      display: none;
    }

  
  
    .menu-container {
      height: 60%;
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 2rem 0;
  
      .h1-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0rem;

  
        .bean-icon {
          font-size: 1.5rem; /* Adjust the font size for better mobile appearance */
        }
      }
  
      .main-h1 {
        font-family: 'Satisfy', cursive;
        font-size: 2rem; /* Adjust the font size for better mobile appearance */
        padding: 0;
      }
  
      h1 {
        text-align: center;
      }
  
      .menu-items {
        height: auto; /* Adjust the height for better mobile appearance */
        flex-direction: row; /* Stack items vertically on mobile */
        gap: 0;
  
        p {
          font-family: 'Barlow Condensed', sans-serif;
          color: rgba(255, 255, 255, 0.775);
          font-weight: bold;
        }
  
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid white;
        border-radius: 1rem;
        padding: 1.5rem; /* Adjust the padding for better mobile appearance */
  
        .coffee,
        .alternatives {
          gap: 1rem; /* Adjust the gap for better mobile spacing */
          padding: 1rem; /* Adjust the padding for better mobile appearance */
        }
  
        .coffee p,
        .alternatives p {
          font-size: 1rem; /* Adjust the font size for better mobile appearance */
        }
  
        .coffee h1,
        .alternatives h1 {
          font-size: 1.5rem; /* Adjust the font size for better mobile appearance */
        }
      }
    }
  
    
  }

  
  
}





@media (max-width: 1000px) {
  .home{
    height: 100%;
  }

  .footer{
    display: flex;
    background-color:#1a1a1a;
    text-align: center; 
    justify-content: center;
    align-items: center;
    height: auto;
    color: white;
    font-size: 10px;
    padding: 2rem 0;

    .icon{
      font-size: 1rem;
    }

  
   
  
  }

  .gallery{
    padding-top: 3rem;

    .photo-div {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;

      img{
        max-width: 90%;
      }
    }
  }

  .info{


    .info-container{
      padding: 0;

      .info-text{
        h1, h3{
          text-align: center;
        }
       

        button{
          margin: 0 auto;
        }


    
       
      }

    }
  
    

    img{
      display: none;
    }
  }

  .home{
    height: 100%;
    .address{
      font-size: 10px;
      position: absolute;
      right: 0.5rem;
    }
   

    .home-nav{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-bottom: none;
      height: 8vh;
      background: rgba(0, 0, 0, 0.798);
      border-bottom: 0.5px solid white;

      .left{
        width: 100%;


        img{
          height: 2.4vh;

          
        }
      }

      .right{
        display: none;
      }

    

      .middle{
        display: none;
      }

      .right{
        width: 100%;

        h1{
          font-size: 2rem;
        }

        a{
          border: none;
        }
      }
    }

    .home-info{
      text-align: center;
      margin-top: 4rem;

      .welcome-message{
        font-size: 1.7rem;
        padding: 10px;
      }

      .welcome-description{
        font-size: 1.3rem;
        padding: 0 10px;
        display: none;
      }

      .info-button{
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      img{
        height: 20vh;
      }

    }
  }

  

    
  
  

  
}

::-webkit-scrollbar-thumb{
  color: black;
}


